@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins&family=Rubik:wght@400;500;700&display=swap');

.testimonial{
    background-color: #0A5783;
}
.top{
     background: linear-gradient(175deg, #159C98 0%, #138F9E 100%);
}
.company{
    background: linear-gradient(175deg, #159C98 0%, #138F9E 100%);
}